body {
    text-align: center;
    background-color: #0026ff;
}

h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
    font-size: large;
}

img {
    vertical-align: middle;
}
/* Class definitions here onwards. */

.test1 {
    background-image: url("../images/tom1.png");
}

.test2 {
    background-image: url("../images/tom2.png");
}

.test3 {
    background-image: url("../images/tom3.png");
}

.test4 {
    background-image: url("../images/tom4.png");
}

.set {
    margin: 10% auto;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    border: 10px solid #404B69;
    font-size: 4rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}
